name: "Publish to s3"

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Release version"
        required: true
      environment:
        description: "Environment"
        required: true
        type: environment
      rollbackVersion:
        description: "Version to revert to on failure"
        required: true
        default: "0.4.1"
        

concurrency: # Limit to one concurrent job
  group: ${{ github.workflow }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      packages: read

    environment: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
        env:
          VITE_API_URL: ${{ vars.API_URL }}
          VITE_AWS_REGION: ${{ vars.AWS_REGION }}
          VITE_COGNITO_CLIENT_ID: ${{ vars.COGNITO_CLIENT_ID }}
          VITE_COGNITO_USER_POOL_ID: ${{ vars.COGNITO_USER_POOL_ID }}
          VITE_COGNITO_DOMAIN: ${{ vars.COGNITO_DOMAIN }}
          VITE_LOGOUT_URI: ${{ vars.LOGOUT_URI }}
          VITE_REDIRECT_URI: ${{ vars.REDIRECT_URI }}
          VITE_TWITCH_CLIENT_ID: ${{ vars.TWITCH_CLIENT_ID }}
          VITE_WEBSOCKET_URL: ${{ vars.WEBSOCKET_URL }}
          VITE_CONTENT_URL: ${{ vars.CONTENT_URL }}
          VITE_SITE_DOMAIN: ${{ vars.SITE_DOMAIN }}

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Upload to S3
        run: aws s3 sync dist s3://${{ vars.BUCKET_NAME }}/${{ inputs.release }}/

      - name: Create version info
        run: |
          mkdir -p config
          cat > config/version.json << EOF
          {
            "version": "${{ inputs.release }}",
            "description": "Current frontend version configuration",
            "lastUpdated": "$(date -u +%Y-%m-%dT%H:%M:%SZ)",
            "rollbackVersion": "${{ inputs.rollbackVersion }}",
            "metadata": {
              "deployedBy": "github-actions",
              "environment": "${{ inputs.environment }}"
            }
          }
          EOF

      - name: Upload version info to S3
        run: aws s3 cp config/version.json s3://${{ vars.BUCKET_NAME }}/config/version.json
